extends layout

block content
  h1 #{title}

  form(method='POST' action='')
    div.form-group
      label(for='name') Luokan nimi:
      input#name.form-control(type='text', placeholder='Fantasia, Runollisuus yms.' required='true' name='name' value=(undefined===genre ? '' : genre.luokan_nimi))
    button.btn.btn-primary(type='submit') Lähetä

  if errors 
    ul
      for error in errors
        li!= error.msg